.work__box
  padding-top 8%
  width 1030px
  margin 0 auto

  article
    margin 5px 5px
    width 505px
    height 200px
    float left
    position relative
    overflow hidden

    &:hover
      .work__spcial_site_link
        top 0px

.work__description
  box-sizing border-box
  background-color rgba(0, 0, 0, 0.5)
  padding 8px
  margin 0px
  margin-left 205px
  width 300px
  height 200px

.work__image
  width 200px
  height 200px
  float left

.work__spcial_site_link
  position absolute
  transition top .1s linear
  top 200px

  img
    width 505px

