html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  overflow:hidden;
}


.horizon-prev, .horizon-next {
position: fixed;
top: 50%;
margin-top: -24px;
z-index: 9999;
}
.horizon-prev {
left: 20px;
}
.horizon-next {
right: 20px;
}

@font-face {
  font-family: 'MyFont';
  src: url(../font/yomosugara.ttf);
}

body {
  font-family: MyFont;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-duration: 240s;
  -webkit-animation-duration: 240s;
  animation-name: nightMove;
  -webkit-animation-name: nightMove;
  background: #00000a; /* Old browsers */
  background: -moz-linear-gradient(top, #00000a 0%, #2464dc 75%, #e6c8dc 89%, #ffdcb5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00000a), color-stop(75%,#2464dc), color-stop(89%,#e6c8dc), color-stop(100%,#ffdcb5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00000a 0%,#2464dc 75%,#e6c8dc 89%,#ffdcb5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00000a 0%,#2464dc 75%,#e6c8dc 89%,#ffdcb5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00000a 0%,#2464dc 75%,#e6c8dc 89%,#ffdcb5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #00000a 0%,#2464dc 75%,#e6c8dc 89%,#ffdcb5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000a', endColorstr='#ffdcb5',GradientType=0 ); /* IE6-9 */
}
html, body{
  width: 100%;
  height: 100%;
  color: white;
}

.section{
  overflow: auto;
  position: relative;
  height: 100%;
  width: 100%;
  float: left;
}

@keyframes nightMove {
  0% {
    background-size: 100%;
    background-position: 0%;
  }
  50%{
  }
  100% {
    background-position: -700%;
    background-size: 800%;
  }
}

@-webkit-keyframes nightMove {
  0% {
    background-size: 100%;
    background-position: 0%;
  }
  50%{
  }
  100% {
    background-position: -700%;
    background-size: 800%;
  }
}

.section:nth-child(2n) .smog{
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}
.site__title{
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  text-align: center;
  font-size: 80px;
}

h2.site__sub-title {
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

h2.site__sub-title:after, h2.site__sub-title:before {
  display: inline-block;
  content: "-";
  margin: 0px 4px;
}
ul.site__menu {
  color: rgba(255, 255, 255, 0.38);
  display: inline-block;
  position: fixed;
  bottom: 140px;
  left: 16px;
  list-style: none;
  font-size: 16px;
  bottom: 0px;
  font-size: 40px;
  z-index: 5;
  cursor: pointer;
}
ul.site__menu li{
  position: relative;
}
ul.site__menu li:after{
  content: attr(data-word);
  color: rgb(200, 0, 198);
  position: absolute;
  display: block;
  width: 0%;
  top: 0px;
  font-weight: bold;
  overflow: hidden;
}
ul.site__menu li:hover:after{
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: wordMove;
  -webkit-animation-name: wordMove;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;

}
@keyframes wordMove {
  0% {
    width: 0%;
  }
  50%{
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes wordMove {
  0% {
    width: 0%;
  }
  50%{
  }
  100% {
    width: 100%;
  }
}

.smog{
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0px;
  z-index: 0;
  background-position: left bottom;
  background-repeat: repeat no-repeat;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-name: smogMove;
  -webkit-animation-name: smogMove;
}
.smog.smog1{
  background-image: url("../img/bg_smog02.png");
  animation-duration: 300s;
  -webkit-animation-duration: 300s;
}

.smog.smog2{
  background-image: url("../img/bg_smog03.png");
  animation-duration: 290s;
  -webkit-animation-duration: 290s;
}

@keyframes smogMove {
  0% {
    background-position-x: -1100%;
  }
  50%{
  }
  100% {
    background-position-x: 1100%;
  }
}

@-webkit-keyframes smogMove {
  0% {
    background-position-x: -1100%;
  }
  50%{
  }
  100% {
    background-position-x: 1100%;
  }
}

/*======================*/

 /* This triggers a redraw in IE to Fix IE8's :before content rendering. */

#sns h1{
  font-family: "yomosugara";
}

#sns .icons{
  text-align: center;
}
#sns a.icon{
  display: inline-block;
  position: relative;
  width: 140px;
  height: 140px;
  margin: 5px; }
#sns article {
  padding: 32px;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
  box-shadow: 0 0 6px -2px #000, 0 0 45px -20px #000;
  color: #fff;
  line-height: 90px;
  transform: perspective(300px) rotateY(0deg);
  transition: transform 0.4s linear, background-color 0s linear 0.2s, color 0s linear 0.2s; }
#sns a:hover article {
  transform: perspective(300px) rotateY(180deg);
  color: #eee;
  transition: transform 0.2s linear, background-color 0s linear 0.1s, color 0s linear 0.1s; }
#sns a:nth-child(1):hover article {
  background-color: #3B5998; }
#sns a:nth-child(2):hover article {
  background-color: #00ACED; }
#sns a:nth-child(3):hover article {
  background-color: #2C4762; }
#sns a:nth-child(4):hover article {
  background-color: #CB2027; }
#sns a:nth-child(5):hover article {
  background-color: #1769FF; }
#sns a:nth-child(6):hover article {
  background-color: #4183C4; }
#sns a:nth-child(7):hover article {
  background-color: #3399CC; }
#sns a:nth-child(8):hover article {
  background-color: #EA4C89; }
#sns a:nth-child(9):hover article {
  background-color: #3F729B; }
#sns a:nth-child(10):hover article {
  background-color: #FF0084; }
#sns a:nth-child(11):hover article {
  background-color: #F26300; }
#sns a:nth-child(12):hover article {
  background-color: #445566; }
#sns span {
  transition: transform 0s linear 0.2s, text-shadow 0s linear 0.2s;
  display: block;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: antialiased; }
#sns a:hover span {
  transition: transform 0s linear 0.1s, text-shadow 0s linear 0.1s;
  transform: scale(-1, 1);
  text-shadow: 0 0 50px rgba(255, 255, 255, 0.5); }

@font-face {
  font-family: "SSSocial";
  src: url('../font/ss-social-regular.eot');
  src: url('../font/ss-social-regular.eot?#iefix') format('embedded-opentype'),
       url('../font/ss-social-regular.woff') format('woff'),
       url('../font/ss-social-regular.ttf') format('truetype'),
       url('../font/ss-social-regular.svg#SSSocialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html:hover [class^="ss-"] {
  -ms-zoom: 1; }
#sns.ss-icon, #sns.ss-icon.ss-social, #sns.ss-icon.ss-social-circle,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"][class*=" ss-social"]:before, [class*=" ss-"][class*=" ss-social"]:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"][class*=" ss-social"].right:after, [class*=" ss-"][class*=" ss-social"].right:after {
  font-family: "SSSocial";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased; }
#sns.ss-icon.ss-social-circle,
[class^="ss-"].ss-social-circle:before, [class*=" ss-"].ss-social-circle:before,
[class^="ss-"].ss-social-circle.right:after, [class*=" ss-"].ss-social-circle.right:after {
  font-weight: bold; }
[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: ''; }


/*======================*/
@media (max-width: 980px) {
  #sns a.icon{
    width: 100px;
    height: 100px;
    margin: 5px;
  }
  #sns article {
    padding: 16px;
  }
}
@media (max-width: 767px) {
  .site__title{
    font-size: 40px;
  }
  .site__sub-title{
    font-size: 20px;
  }
  ul.site__menu {
    font-size: 32px;
  }
  #sns a.icon{
    width: 80px;
    height: 80px;
   }
  #sns article{
    padding: 0px;
    font-size: 32px;
  }
}

@media (max-width: 680px) {
  #sns a.icon{
    width: 60px;
    height: 60px;
    margin: 5px;
  }
  #sns article{
    padding: 0px;
    line-height: 70px;
    font-size: 24px;
  }
}
